* {
    margin: 0;
}

/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }*/


/*pantalla grande*/

body {
    width: 100%;


}

header,
main,
footer {
    width: 100%;
    position: relative;

}

#fondo {
    width: 100%;
    margin: 0;
    background-image: url("./../../data/fondo.png");
    padding: 10px;
    display: flex;
    align-items: center;
}

body {

    background-image: url("./../../data/fondo.png");
}


.logo{
    display: block;
    margin: auto;
    margin-top: 25vh;
    margin-left: 41%;
    width: 200px;
    transition: width .5s ease-in-out;
}

.interaction {


    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    text-align: center;
    background: orange;
    margin-top: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 20px;
}

.interaction:hover {
    transition: box-shadow 0.3s ease-in-out;

    box-shadow: 0 0 0 5px orange;
}


.linkBtn {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    padding: 12px 0;
    font-size: 25px;
    text-decoration: none;
    color: white;

}

.linkBtn:hover {
    text-shadow: 0px 0px 2px #fff, ;
    text-shadow: 0px 0px 3px #fff;


}

.mensajeVoltear{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    display:none;
    top: 0;
    left: 0;
}


/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/

@media (max-width: 600px) {

    .logo{
      
        width: 100px;
        transition: width .5s ease-in-out;
    }
}
.titulo{
    margin-top: 2%;
    margin-left: 35%;
font-size: 400%;
color: rgb(248, 198, 95);
font-weight: bold;
font-family: 'Nunito', sans-serif;
text-shadow: 0px 4px 7px black;

}
.recuadroGran{
    flex-direction: column;
    display: flex;
    width: 80%;
    height: 500px;
    background:white;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    margin-left: 10%;
    margin-top: 2%;
}
.recuadroti{
    display: flex;
    width: 80%;
    height: 18%;
    margin-top: 0%;
    background: rgb(172, 51, 23);
    border-radius:40px;
    position: absolute;
 align-items: center;
 box-shadow: 0px 4px 10px rgb(0, 0, 0);
 position: absolute;
}
.calimadas{
    font-size: 500%;
    color:rgb(250, 210, 161);
    margin-left: 370px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 7px black;
}