
.contenedor{
    margin-top: 0;
    margin-left: 30%;
    width: 40%;
    background-image: url("./../../data/CabeceraPalabras.png");
    border-radius: 40px;

 align-items: center;
 box-shadow: 0px 4px 10px rgb(0, 0, 0);
}
.calima{
    font-size: 300%;
    color:rgb(250, 210, 161);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 7px black;
    text-align: center;
    padding: 2%;
}
body{
    background-image: url("./../../data/fondo2.png");
}

.contenedorTemas {
    display: flex;
    margin-top: 50px;
    flex-flow: row wrap;
    justify-content: center;

}


.tema {
    display: flex;
    flex-direction: inline;
    padding: 40px 40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    
}
.tema img{
    width: 100px;
    height: 100px;
}
.cuadra{
    width: 300px;
    height: 80px;
    background-image: url(./../../data/TexturaFondo.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    border-radius: 40px;;
    display: flex;
    align-items: center;
}
.cuadra img{
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
.tex{
    margin-left: 5px;
    padding: 5%;
    color:black;
}
.morado{
    width: 40%;
    height: 100px;
    background: rgb(89, 77, 148);
    align-content: center;
    border-radius: 300px;
    margin-left: 30%;
    margin-top: 40px;
    box-shadow:0px 4px 10px rgb(0, 0, 0) ;
}

.title {
    text-align: center;
    font-size: 250%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color:  rgb(248, 198, 95);
    padding-top: 4%;
    text-shadow:0px 4px 10px rgb(0, 0, 0) ;
}

/* pantalla mediana */
@media (max-width: 1200px) {
    .tema {
        padding: 20px 50px;
    }

}


/* pantalla pequeña */
@media (max-width: 600px) {
    .tema {
        padding: 20px 50px;
        
    }
    .calima{
        font-size:28px;
    }
    .title{
        font-size:25px;
        padding-top: 10%;
    }
    .morado{
        width: 200px;
        margin-left: 75px;

    }
    .contenedor{
        margin-left: 30%;
        
        
    }
}
@media (max-height: 600px) {
    .morado{
        height:80px ;
        margin-left: 29%;
        line-height: 30px;

    }
    .title{
        font-size:22px;
        padding-top: 10%;
    }
    .contenedor{
        margin-left: 29%;
        
        
    }
}
